.category {
  padding-block: 1.75rem;

  .category-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.75rem;

    .overlay {
      position: fixed;
      inset: 0;
      background-color: black;
    }

    .content {
      display: flex;
      flex-direction: column;
      border-radius: 100vmax;
      margin-top: 24px;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;

      .con {
        flex: 1;
        padding: 4rem;

        .drawer {
          margin-inline: auto;
          width: 60px;
          height: 20px;
          flex-shrink: 0;
        }

        .sa {
          max-width: 300px;
          margin-inline: auto;
        }
      }
    }
  }
}
