:root {
  --clr-accent-400: hsl(267, 49%, 35%);
  --clr-accent-100: hsl(267, 49%, 35%, .15);

  --clr-neutral-100: hsl(270, 100%, 96%);


  --ff-primary: 'Roboto', sans-serif;

  --fw-thin: 300;
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-200: .625rem;
  --fs-300: .6875rem;
  --fs-400: .75rem;
  --fs-500: .875rem;
  --fs-600: 1rem;
}

/* Utilitiy classes */

.container {
  --max-width: 1000px;
  --padding: .6875rem;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}



/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and inherit fonts */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core heights */
html,
body,
#root {
  min-height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
